body{
    background: linear-gradient(135deg, #89b4fa, #a5c8ff, #cfe2ff);
    margin: 0;
}

/* Card */
.qr-card{
    background: linear-gradient(135deg, #9ec5fe, #acc9ff, #d6e4ff);
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
}

/* Headings */
h4, h5{
    color: rgb(2, 2, 71);
    text-align: center;
}

/* Buttons */
.butttn{
    background: linear-gradient(135deg, #768dec, #4f6de6, #3658db);
    border: none;
}

.butttn:hover{
    background: linear-gradient(135deg, #5a74e6, #3658db);
}

/* QR image */
.qr-image{
    max-width: 250px;
    width: 100%;
    height: auto;
}

/* Tablet */
@media (max-width: 768px){

    .qr-card{
        max-width: 350px;
    }

    .qr-image{
        max-width: 220px;
    }
}

/* Mobile */
@media (max-width: 768px){

    .qr-card{
        max-width: 95%;
        padding: 20px !important;
    }

    h4{
        font-size: 1.5rem;
    }

    h5{
        font-size: 1.1rem;
    }

    .qr-image{
        max-width: 180px;
    }

    .butttn{
        width: 100%;
    }
}

footer{
    background-color:  #5889e2;
    color:rgb(2, 2, 71);
    text-align: center;
    height:50px;
    justify-content: center;
    padding-top:10px;
}
